# app settings
PORT=8080
ENVIRONMENT=dev

# venue database configs
VENUE_POSTGRES_MAXOPENCONNS=25
VENUE_POSTGRES_MAXIDLECONNS=25
# idletime in minutes
VENUE_POSTGRES_MAXIDLETIME=15

# venue database settings
VENUE_POSTGRES_USER=root
VENUE_POSTGRES_PASSWORD=toor
VENUE_POSTGRES_DB_NAME=venue_db
VENUE_POSTGRES_HOSTNAME=localhost
VENUE_POSTGRES_SSLMODE=disable

# venue database dsn
VENUE_POSTGRES_DSN=postgres://${VENUE_POSTGRES_USER}:${VENUE_POSTGRES_PASSWORD}@${VENUE_POSTGRES_HOSTNAME}/${VENUE_POSTGRES_DB_NAME}?sslmode=${VENUE_POSTGRES_SSLMODE}