SERVER_ADDR=:8080
ENVIRONMENT=dev

# CORS_ALLOWED_ORIGINS: comma separated list of frontend urls that can access this gateway service
#
# examples: 
#   dev: * (allow all for testing)
#   prod: https://www.domain.com,https://www.admin.com (multiple frontends)
CORS_ALLOWED_ORIGINS=*