SERVER_PORT=:8083
ENVIRONMENT=dev

CORS_ALLOWED_ORIGINS=*

EMAIL_PROVIDER=simulate/ gomail
EMAIL_FROM_EMAIL=noreply@yourapp.com
EMAIL_FROM_NAME=YourApp
EMAIL_REPLY_TO=support@yourapp.com

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password