SERVER_PORT=:8081
ENVIRONMENT=dev

# CORS_ALLOWED_ORIGINS: for development testing only - urls that can directly access this service
# in production, this service should only be accessible via the gateway (no CORS)
# examples: http://localhost:3000 (for direct testing), or testing tools
CORS_ALLOWED_ORIGINS=http://localhost:3000